{% extends "base.html" %}

{% block content %}
<form method="post" >
    <label for="message"></label>
    <textarea class="u-full-width" placeholder="Type here..." id="message" name="message"></textarea>
<!--    <p>Providers:</p>-->
<!--    {% for plugin in config.lock().unwrap().plugin -%}-->
<!--    <label>-->
<!--        <input type="checkbox" name="{{ plugin.name|e }}/{{ plugin.title|e }}">-->
<!--        <span class="capitalize label-body"><b>{{ plugin.name|e }}</b> - "{{ plugin.title|e }}"</span>-->
<!--    </label>-->
<!--    {% endfor -%}-->


     <label for="providers">Providers</label>
<select name="providers" id="providers" multiple style="height: {{ config.lock().unwrap().plugin.len() * 26 }}px">
    {% for plugin in config.lock().unwrap().plugin -%}
    <option value="{{ plugin.name|e }}__{{ plugin.title|e }}">{{ plugin.title|e }}</option>
    {% endfor -%}
</select>


    <input class="button-primary" type="submit" value="Submit">
</form>
<form action="/logout" method="POST">
    <button>Logout</button>
</form>
{% endblock -%}
{% block footer %}
<p>{{ package_authors }}<br>{{ package_name }} ver:{{ package_version }} <a href="/config">Show config</a></p>
{% endblock %}
